@import 'variables';

#footer {
  background: #000357;
  padding-block: 35px 40px;
  margin-top: auto;
}

.footer__logo {
  display: block;
  margin-inline: auto;
  margin-bottom: 20px;
}

.footer__li {
  margin-bottom: 40px;
}

.footer__links-li,
.footer__link {
  color: #FFF;
}

.footer__link {
  transition: all .1s;
  &:hover {
    color: #D54E0A;
  }
}

.footer__links-li {
  margin-bottom: 10px;
}

.footer__social_vk {
  width: 34px;
  height: auto;
  margin-top: -10px;
}

@media screen and (min-width: $sm) {
  .footer__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__li {
    margin-bottom: 0;
  }
}