@import 'variables';

#header {
  height: $header-height;
  //background: rgb(247, 247, 247);
}

.navbar-toggler {
  position: relative;
  z-index: 50;
  transition: all .3s ease-in-out;
  svg {
    overflow: visible;
  }
  line {
    transition: all .3s ease-in-out;
  }
}

.navbar-toggler.show {
  transform: rotate(45deg);
  .top {
    transform: translateX(20px) rotate(90deg);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    transform: translateY(-12px);
  }
}

.nav-link {
  color: $indigo;
}