@import '../variables';

#license {
  margin-top: 60px;
}

.license__image {
  display: block;
  width: 110px;
  height: auto;
  margin-inline: auto;
  margin-bottom: 20px;
}

.license__description {
  width: 70%;
  text-align: center;
  margin-inline: auto;
  &_bold {
    font-weight: 500;
  }
}

@media screen and (min-width: $md) {
  .license__container {
    display: flex;
    align-items: center;
  }
  .license__description {
    text-align: left;
  }
  .license__image {
    width: 173px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 0;
  }
}