@import '../variables';

#prices {
  margin-bottom: 60px;
}

.prices__list {
  max-width: 500px;
  margin: 20px auto 71px;
  gap: 20px;
}

.prices__item {
  display: block;
  width: 100%;
  height: 88px;
  background: #FFF;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all .2s;
  &.active {
    background: linear-gradient(180deg, #FFAB5E 0%, #FF6B00 100%);
    .prices__category {
      background: linear-gradient(180deg, #FFEEDF 0%, #FF9C55 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 0 4px 4px rgba(255, 255, 255, 0.11);
    }
    .prices__title {
      color: #FFF;
    }
  }
}

.prices__category {
  background: linear-gradient(180deg, #7C82FF 0%, #131661 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 3, 87, 0.11);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 127px;
  margin-left: -16px;
  margin-top: -7px;
  position: relative;
  transition: all .2s;

}

.prices__title {
  width: 100%;
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all .2s;
}

.cat-inner-card__subtitle {
  display: block;
}

.categories__li {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
  }
}

.cat-inner-card {
  background: linear-gradient(180deg, #7C82FF 0%, #131661 100%);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 40px;
  }
}

.cat-inner-card__title {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #FFF;
  text-align: center;
}

.cat-inner-card__subtitle {
  font-weight: 400;
  font-size: 1.4rem;
}

.cat-inner-card__ul {
  padding-left: 2rem;
}

.cat-inner-card__li  {
  color: #FFF;
  list-style: disc;
}

.cat-inner-card__text {
  width: 50%;
}

.cat-inner-card__text {
  display: inline-block;
}

.cat-inner-card__text_right {
  width: fit-content;
  margin-left: auto;
}

@media screen and (min-width: 400px) {
  .prices__item {
    width: 170px;
  }
}

@media screen and (min-width: $sm) {
  .cat-inner-card__text {
    width: 70%;
  }

  .cat-inner-card__text_right {
    width: fit-content;
  }
}

@media screen and (min-width: $lg) {
  .prices__list {
    max-width: 100%;
  }

  .prices__category {
    font-size: 166px;
    margin-left: -20px;
  }

  .prices__title {
    font-size: 1.6rem;
  }

  .prices__item {
    width: min(280px, 23%);
    height: 114px;
  }

  .categories__li {
    &.active {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
    }
  }


  .cat-inner-card {
    width: 48%;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}