@import '../variables';

#questionary {
  margin-bottom: 60px;
}

#question_1,
#question_2,
#question_3 {
  min-height: 330px;
  background: url("../../../assets/images/background/questionary-bg.webp") no-repeat 100% 100%;
  background-size: 100%;
}

.answer {
  display: none;
  &-label {
    width: 100%;
    margin-bottom: 20px;
  }
  &__image {
    display: block;
    position: relative;
    width: auto;
    height: 185px;
    margin-inline: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-radius: 20px;
    transition: all .2s;
  }
  &__text {
    width: 200px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-inline: auto;
  }
  &__description {
    max-width: 200px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-inline: auto;
  }
  &:checked + .answer-label {
    .answer__bordered {
      &.answer__image {
        border: 1px solid #FF690F;
        padding: 10;
      }
      &.answer__text {
        outline: 1px solid #FF690F !important;
      }
    }
  }
  &-text {
    display: block;
    height: 45px;
    background: rgba(1, 72, 255, 0.08);
    border: none;
    outline: 10px solid transparent;
    border-radius: 10px;
    font-size: 1.6rem;
    color: rgba(0, 3, 87, 0.3);
    margin-inline: auto;
    margin-top: 40px;
    padding: 12px 15px;
    transition: all .2s;
    &:focus-visible {
      outline: 1px solid #FF690F;
      color: rgba(0, 3, 87, 0.8);
    }
  }
}

#question_2 {
  .answer__text {
    max-width: 100%;
    width: fit-content;
    outline: 10px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all .2s;
    user-select: none;
    padding: 10px;
  }
}

.indicator {
  &s {
    width: 100%;
    height: 34px;
    background: #EBEBEB;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 0;
  }
  &_active {
    background: linear-gradient(180deg, #7C82FF 0%, #131661 100%);
    border-radius: 10px;
  }
}

.question {
  display: none;
  &__indicator {
    display: inline-block;
    height: 100%;
  }
  &_count {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: center;
  }
  &_active {
    display: block;
  }
  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: initial;
  }
  &__button-box {
    gap: 10px;
    margin-top: 30px;
  }
  &__button {
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

#answer-3-1 {
  max-width: 440px;
  width: 100%;
}

@media screen and (min-width: $sm) {
  #question_1 {
    &.question_active {
      display: flex;
      flex-wrap: wrap;
    }
    .answer-label {
      width: 50%;
    }
  }
}

@media screen and (min-width: $lg) {
  #question_1 {
    .answer-label {
      width: 25%;
    }
  }
}